#aboutWine {
    background-color: black;
    padding-top: 5%;
}

.aboutBlocks {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.aboutBlock {
    width: 30%;
    margin-bottom: 7%;
    margin-right: 3%;
    background: no-repeat;
}

.aboutBlock h4 {
    margin-top: 3%;
}

.aboutBlock:first-of-type {
    background-image: url(../img/receipes.png);
    padding: 21% 0 3% 1%;
}

.aboutBlock span {
    font-family: 'GeometriaBold', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.aboutBlock p {
    font-size: 16px;
    width: 80%;
}

.aboutBlock:nth-child(2) {
    background-image: url(../img/lifeStyle.png);
    padding: 24% 0 3% 1%;
}

.aboutBlock:last-child {
    display: flex;
    flex-direction: column;
}

.halfBlock {
    height: 50%;
    padding-top: 30%;
    padding-left: 3%;
    background: no-repeat;
}

.halfBlock:first-child {
    background-image: url(../img/advise.png);
    padding-top: 29%;
    margin-bottom: 5%;
}

.halfBlock:last-child {
    background-image: url(../img/history.png);
}

@media screen and (max-width: 700px) {

    .aboutBlocks {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }

    .aboutBlock {
        width: 69%;
        margin-right: 0;
        margin: 0 auto;
    }

    .aboutBlock p {
        font-size: 14px;
        width: 60%;
    }
    
    .aboutBlock h4 {
        font-size: 20px;
    }

    .aboutBlock:first-of-type {
        padding: 15% 0 5% 1%;
    }

    .aboutBlock:nth-child(2), .halfBlock:first-child, .halfBlock:last-child {
        padding: 20% 0 5% 1%;
    }
}

@media screen and (max-width: 320px) {
    #aboutWine h2 {
        font-size: 25px;
    }

    .aboutBlocks {
        margin-top: 15%;
    }

    .aboutBlock p {
        font-size: 10px;
        line-height: 15px;
        width: 100%;
        margin-top: 3%;
    }

    .aboutBlock h4 {
        font-size: 14px;
    }

    .aboutBlock span {
        font-size: 8px;
    }
}