* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
}

body {
    color: #fff;
    position: relative;
}

h1 {
    font-size: 1.3em;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
    font-family: 'AGMelanieC', sans-serif;
}

h3 {
    font-size: 24px;
    font-family: 'AGMelanieC', sans-serif;
    line-height: 29px;
}

h4 {
    font-size: 26px;
    font-family: 'AGMelanieC', sans-serif;
}

p {
    text-align: left;
    font-family: 'GeometriaLight', sans-serif;
    font-size: 18px;
    line-height: 23px;
}

.content {
    background-image: url(../img/header.png);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    /* height: 100vh; */
}

.landing {
    width: 90%;
    height: 90%;
    padding-top: 1%;
    margin: 0 auto;
}